.nav-menu ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 1em;
    font-weight: bolder;

}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
    text-decoration: none;
}

.nav-menu {
    color: #1e1e1b;

}

.nav-menu {
    font-family: "Roboto", system-ui;
}

.nome-hotel {
    font-style: italic;
}

.link-inicio {
    text-decoration: none;
    color: #333;
}